/* Estilos para el slider */
/* Estilos para el slider */
.slider-container {
  position: relative;
  width: 100%;
  height: auto; /* Cambiado a auto */
  max-height: 450px; /* Altura máxima del slider para pantallas grandes */
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slider-image {
  flex: 0 0 100%;
  height: auto;
  object-fit: cover;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .slider-container {
      max-height: 300px; /* Altura máxima del slider en dispositivos móviles */
  }
}


/* Estilo base para el nav */
/* Ocultar menú en móvil por defecto */
#menu.hidden {
  display: none;
}

/* Mostrar menú en móvil cuando tiene la clase "show" */
#menu.show {
  display: flex;
  flex-direction: column;
  background-color: #333; /* Fondo opcional para menú desplegable */
  width: 100%;
  padding: 1rem 0;
}

/* Menú en pantallas grandes */
@media (min-width: 768px) {
  #menu {
      display: flex !important; /* Siempre visible en pantallas grandes */
      flex-direction: row;
      justify-content: center;
  }
}

