/* Estilos para el slider */
.slider-container {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 450px;
  overflow: hidden;
  z-index: 1;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slider-image {
  flex: 0 0 100%;
  height: auto;
  object-fit: cover;
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
}

@media (max-width: 768px) {
  .slider-container {
      max-height: 300px;
  }
}


/* Estilo base para el nav */
#menu.hidden {
  display: none;
}

#menu.show {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  padding: 1rem 0;
  z-index: 2;
}

/* Menú en pantallas grandes */
@media (min-width: 768px) {
  #menu {
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      z-index: 2;
  }
}

/* Ocultar submenú por defecto */
.group-hover\:block {
  display: none;
}

/* Mostrar submenú al hacer clic */
.nav-item.group.open ul {
  display: block;
  position: absolute;
  background-color: #333;
  z-index: 3;
}

/* dar color azul calro a los titulos de la plantilla fabricacion */
.text-light-blue {
  color: #60A5FA; /* Light blue */
}

/* estilos de las letras que se escriben solas*/

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#dynamic-text::after {
  content: '';
  border-right: 0.1em solid black;
  animation: blink 0.7s step-end infinite;
}

#dynamic-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: none; /* Eliminamos esta línea */
  animation: typing 3.5s steps(40, end) /* Eliminamos la animación blink-caret */;
}

